body{
  font-family: 'Roboto', sans-serif;
}

:root{
  --my-dark-blue: #051E34;
  --my-blue: #1B72E8;
  --my-white: #F8F9FA;
  --my-gray: #E5E5E5;
  --my-light-gray: #F7F7F7;
  --my-border-gray: #DADADA;
  --my-flag-green: #198754;
  --my-flag-orange: #FFC106;
  --my-flag-red: #DB3444;
  --my-bell-orange: #FF8E00;
  --my-text-gray: #5A5757;
  --my-text-black: #3A3D40;
}

.my-bg-white{
  background-color: var(--my-white);
}

.my-bg-gray{
  background-color: var(--my-gray);
}

.my-text-gray{
  color: var(--my-text-gray);
}

.my-bell-orange{
  color: var(--my-bell-orange);
}

header{
  padding-top: 15px;
  padding-bottom: 15px;
}

.my-container{
  height: 40px;
}

.my-logo{
  width: 10%;
  height: 100%;
  padding-left: 10px;
}

.my-logo img{
  max-height: 100%;
  max-width: 100%;
}

.my-menu{
  width: 10%;
  padding-right: 10px;
}

.my-near{
  border-radius: 8px;
  width: 80%;
}

.my-near input{
  border-radius: 8px;
  border: none;
  background-color: transparent;
}

.my-left-bar{
  width: 150px;
  height: calc(100vh - 70px);
  background-image: url(../img/sidebar-bg.png);
  background-color: var(--my-dark-blue)
  ;
}

.my-btn-left-bar{
  cursor: pointer;
  transition: .7s;
}

.my-btn-left-bar:hover{
  background-color: rgba(255, 255, 255, 0.697);
  transition: .7s;
}

.my-home{
  padding-right: 10px;
}

.my-stats{
  padding-right: 13px;
}

.my-signal{
  padding-right: 7px;
}

.my-dashboard{
  width: calc(100% - 150px);
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.my-dashboard-top-bar{
  height: 10vh;
}

.my-dashborad-contetn{
  min-height: calc(100% - 10vh);
}

.my-box{
  background-color: yellow;
}

@media screen and (max-width:768px){
  .my-left-bar{
    width: 70px;
  }

  .my-dashboard{
    width: calc(100% - 70px);
  }
}